.pagination {
    display: flex;
    justify-content: center;
}
.pagination__item {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid navy;
    cursor: pointer;
}
.pagination__item._active {
    border: 3px solid navy;
    color: navy;
    font-weight: 700;
}