.form-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-add {
    width: 600px;
    min-height: 100px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid navy;
    margin-bottom: 10px;
}