.post__item {
    padding: 20px;
    border: 2px solid navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
@media (max-width: 920px) {
    .post__item {
        justify-content: center;
    }
}
.post__item-content {
    max-width: 700px;
}
.post__item-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.post__item-btns {
    display: flex;
    flex-direction: column;
}
/*.btn {*/
/*    background: none;*/
/*    padding: 10px 15px;*/
/*    border: 1px solid navy;*/
/*    color: navy;*/
/*    cursor: pointer;*/
/*    margin-top: 15px;*/
/*}*/